{% extends 'base.html' %}



{% block content %}
<main id="about">

    <div class="about-info">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQH7i9sJl6tr6g/profile-displayphoto-shrink_200_200/0?e=1597276800&v=beta&t=cdt2l-A9-QHXeZmkf6aFJCBq1wporT1zlfmeSdU05lE" class="bio-image">

      <div class="bio">
        <h3  class="text-secondary">Hey !!</h3>
        <h3>I'm CHINTAN PATEL</h3>
        <hr>
        <p>Welcome to <br> My Personal BLog Page.</p>
        
        
      </div>
      
    </div>
    <hr>
    

    {% for arti in object_list %}
    
        <div class="card mb-4">
      <div class="card h-100">
      {% if arti.image %}
      <img src="{{ arti.image.url }}" class="card-img-top" style="height: 250px; width: 100%; display:block;">
        {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ arti.title }}</h5>
              <p class="card-text">{{ arti.text }}</p>
              <p class="card-text"><small class="text-muted">Posted on:{{ arti.time }}</small></p>
              <button><a href="{% url 'desc_page' arti.pk %}">read more</a></button>
          </div>
    </div>
    </div>




      
    {% endfor %}

    <hr>
    
    <span align="center">Find Me Here...</span>

  <div class="wrapper">
	    <ul class="social-icons icon-circle list-unstyled list-inline"> 
	      <li> <a href="https://www.facebook.com/profile.php?id=100043187899662"><i class="fa fa-facebook"></i></a></li> 
	      <li> <a href="https://github.com/ckpatel21"><i class="fa fa-github"></i></a></li> 
	      <li> <a href="ckpatel256@gmail.com"><i class="fa fa-google-plus"></i></a></li> 
	      <li> <a href="https://www.instagram.com/ck_patel_21"><i class="fa fa-instagram"></i></a></li> 
	      <li> <a href="https://www.linkedin.com/in/chintan-patel-7ba687192"><i class="fa fa-linkedin"></i></a></li> 
	       
	  	</ul>
	</div> 
    
</main>





{% endblock content %}